<ion-header [translucent]="true">
  <!-- 
    <ion-toolbar>
    <ion-title>
      Directo
    </ion-title>
  </ion-toolbar>
-->
</ion-header>

<ion-content [fullscreen]="true" class="background radial-background">
  <!-- 
      <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Directo</ion-title>
      </ion-toolbar>
    </ion-header>
  -->
  <div id="container">
    <img class="logo" src="../../assets/img/logos radiosol_morado_naranja.png">
   
   <p><strong> Escuchando Radio Sol Albal </strong></p> 
 

   <audio id="audio" src="https://stream.mediasector.es/listen/radiosol_albal/radiosolalbal.mp3"></audio> 

   <ion-button (click)="radioPlay()">
    
    <ion-icon *ngIf="isPlaying == true" name="pause-outline"></ion-icon>
    <ion-icon *ngIf="isPlaying == false" name="play-outline"></ion-icon>
    
  </ion-button>
  </div>
</ion-content>
