<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button target="_blank" href="https://www.ivoox.com/escuchar-audios-radio-sol-albal_al_105232_1.html?show=programs">
      <ion-icon src="../../assets/img/icon-ivoox.svg"></ion-icon>
      <ion-label>Ivoox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="directo" href="/tabs/directo">
      <ion-icon aria-hidden="true" name="radio"></ion-icon>
      <ion-label>Directo</ion-label>
    </ion-tab-button>

    <ion-tab-button target="_blank" href="https://albal.es">
      <ion-icon src="../../assets/img/icon-ayto-albal.svg"></ion-icon>
      <ion-label>Ayto Albal</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
